.envrc
logs
target
out
build
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.gradle
/gradle/
gradlew
gradlew.bat
application.yml
/bin
*.log

/RUNNING_PID
.DS_STORE

client_secret.json
capacity_file.txt

